.hiring-companies {
    padding: 80px;
}

.hiring-companies-headline {
    text-align: center;
}

.companies-styling {
    width: 300px;
    height: 200px;
}

// @media screen and (max-width: 700px) {
    
// }